<footer class="footer" >
    <div class="footer">


        <div class="row">
            <ul>
                <li><a href="https://www.instagram.com/eu.ankaraproject1/"><i class="fa fa-instagram fa-3x"></i></a></li>
                <li><a href="https://twitter.com/euankaraproject"><i class="fa fa-twitter fa-3x"></i></a></li>
                <li><a href="https://www.youtube.com/@AnkaraProject"><i class="fa fa-youtube fa-3x"></i></a></li>
                <li><a href="https://www.linkedin.com/in/ankara-project-0194362a4/"><i class="fa fa-linkedin fa-3x"></i></a></li>
            </ul>
        </div>

        <div class="row">
            <ul>
                <li><a href="">Projeler</a></li>
                <li><a href="">Çağrılar</a></li>
                <li><a href="">Galeri</a></li>
                <li><a href="">Duyurular</a></li>
                <li><a href="">Hakkımızda</a></li>
            </ul>
        </div>
    </div>
</footer>

