<nav style="background-color: #193073;" class="navbar navbar-expand-lg " >
  <div class="container">
    <a class="navbar-brand" id="colorup" href="{%url 'index'%}">ANKARA PROJECT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item ">
          <a class="nav-link" id="nav-text" style=" margin-left: 250px;" href="{% url 'projeler' %}">PROJELER<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-text" style=" margin-left: 15px;" href="{% url 'call' %}">ÇAĞRILAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-text" style=" margin-left: 15px;" href="{% url 'galeri' %}">GALERİ</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" id="nav-text"  style=" margin-left: 15px;" href="{% url 'duyurular' %}">DUYURULAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-text" style=" margin-left: 15px;" href="{% url 'hakkimizda' %}">HAKKIMIZDA</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>


