{% extends 'layout.html' %}
{% load static %}

{% block content %}


<div class="container">
  
  <br><br>

    <div class="card float-left">
      <div class="row">
  
        <div >
            <div >
                <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d865.377029616915!2d32.680876709551306!3d39.88169871634926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d338dc54081e13%3A0xa98e46886109c2d9!2s%C3%9Cmitk%C3%B6y%20Spor%20Kompleksi!5e0!3m2!1str!2str!4v1694702944346!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
      </div>
    </div>
  
   

<br><br><br>

<!-- text -->
      <div>

        <div class="row">
          <div class="col-sm-9">
              <div class="col-sm-9 col-sm-offset-3">
                  <br>
                  <h4 id="fontduyuru">ADRES</h4>
                  <h5>Koru 2647. Sokak <br>
                    Ankaralılar Cadde No:1 <br>
                    06810 <br>
                  ÇANKAYA/ANKARA</h5>
                  <br><br>

                  <h4 id="fontduyuru">İLETİŞİM</h4>
                  <h5>e-mail: euankaraproject@gmail.com</h5>
<br>
                  
                  
              </div>
          </div>
      </div>
      

       
      </div>


    </div>
  




<br><br><br>

{% endblock %}


