{% extends 'layout.html' %}
{% load static %}

{% block content %}



<br><br>

{% if project_page_content %}
  {% for page in project_page_content %}
  <div class="container mt-3">
    <div class="row">
      <!-- Sol taraftaki içerik -->
      <div class="col-sm-12 col-md-6">
        
        <h3 id="projetitle">{{page.title}} <br><br></h3>

        <hr>

        <!-- Bilgi tablosu içeren bölüm -->
        <div class="container">
          <table>
            <tr>
              <td style="padding: 10px;"><img src="/static/img/calendar2-week.svg" width="35" height="35"></td>
              <td style="padding: 10px;">
                <h5>BAŞLANGIÇ VE BİTİŞ TARİHİ</h5>
                <p>{{page.date}}</p>
              </td>
              <td style="padding: 10px;"><img src="/static/img/file-earmark-plus.svg" width="35" height="35"></td>
              <td style="padding: 10px;">
                <h5>PROJE REFERANSI</h5>
                <p>{{page.referans}}</p>
              </td>
            </tr>

            <tr>
              <td style="padding: 10px;"><img src="/static/img/people-fill.svg" width="35" height="35"></td>
              <td style="padding: 10px;">
                <h5>ANA HEDEF</h5>
                <p>{{page.hedef}}</p>
              </td>
              <td style="padding: 10px;"><img src="/static/img/cash-coin.svg" width="35" height="35"></td>
              <td style="padding: 10px;">
                <h5>PROJE BÜTÇESİ</h5>
                <p>{{page.butce}}</p>
              </td>
            </tr>
          </table>

        </div>
        <hr>
        <br>
        <h3 id="fontduyuru">PROJE AÇIKLAMASI</h3>
        <br>

        <p id="hakdiv" style="text-align: justify;">{{page.aciklama | safe}}</p>
        <br><br>
      
      </div>

      
      <div  class="col-sm-12 col-md-5 ml-auto ">
        
        <div style="background-color: #193073; padding: 30px; margin-right: 70px;">
          <h3 style="color: white" id="fontduyuru">PROJE PARTNERLERİ</h3>
          <br>
          <p style="color: white; font-size: 15px;" id="hakdiv">{{page.partner | safe}}</p>

          <br><br>
          <h3 id="fontduyuru" style="color: white; "> ETKİNLİK AKIŞI</h3> <br>
          <p  style="color: white; font-size: 15px;" id="hakdiv">{{page.akis | safe}}</p>
        
        </div>
      </div>
    </div>


    <hr>
  </div>
  <div>


  </div>

  <!-- FOTOĞRAFLAR -->
  <div class="container">
    <div class="row">
      {% if page.image1 %}
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">

          <img src="{{page.image1}}" alt="Card Image" class="card-img-top">

          <div class="card-body">
            <h6>{{page.image1text}}</h6>
          </div>

        </div>
      </div>
      {%endif%}
      
      {% if page.image2 %}
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">

          <img src="{{page.image2}}" alt="Card Image" class="card-img-top">

          <div class="card-body">
            <h6>{{page.image2text}}</h6>
          </div>
          
        </div>
      </div>
      {%endif%}

      {% if page.image3 %}
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">

          <img src="{{page.image3}}" alt="Card Image" class="card-img-top">

          <div class="card-body">
            <h6>{{page.image3text}}</h6>
          </div>
          
        </div>
      </div>
      {%endif%}

      {% if page.image4 %}
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">

          <img src="{{page.image4}}" alt="Card Image" class="card-img-top">

          <div class="card-body">
            <h6>{{page.image4text}}</h6>
          </div>
          
        </div>
      </div>
      {%endif%}
      
      {% if page.image5 %}
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">

          <img src="{{page.image5}}" alt="Card Image" class="card-img-top">

          <div class="card-body">
            <h6>{{page.image5text}}</h6>
          </div>
          
        </div>
      </div>
      {%endif%}


      {% if page.image6 %}
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">

          <img src="{{page.image6}}" alt="Card Image" class="card-img-top">

          <div class="card-body">
            <h6>{{page.image6text}}</h6>
          </div>
          
        </div>
      </div>
      {%endif%}


      {% if page.image7 %}
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">

          <img src="{{page.image7}}" alt="Card Image" class="card-img-top">

          <div class="card-body">
            <h6>{{page.image7text}}</h6>
          </div>
          
        </div>
      </div>
      {%endif%}

      {% if page.image8 %}
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">

          <img src="{{page.image8}}" alt="Card Image" class="card-img-top">

          <div class="card-body">
            <h6>{{page.image8text}}</h6>
          </div>
          
        </div>
      </div>
      {%endif%}


      {% if page.image9 %}
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">

          <img src="{{page.image9}}" alt="Card Image" class="card-img-top">

          <div class="card-body">
            <h6>{{page.image9text}}</h6>
          </div>
          
        </div>
      </div>
      {%endif%}

    </div>
  </div>
  

  {% endfor %}
{% endif %}
<br>



{% endblock %}